
body {
    background-image: url(IMGS/lago-puelo.png);
    background-size: cover;
    font-family: sans-serif;
    color: white;
}
.main{
	text-align: center;
}

.welcome{
	color:white;
	padding-bottom; 3em;
	animation: appear 2s ease-in;
}
@keyframes appear{
	0%{opacity: 0;}
	100%{opacity:1}
}

.boton{
    margin: 2em;
}
a img{
    margin-top: 2em;
}

 table {
  border-collapse: collapse;
  margin: 2em;
   width: 100%;
   margin: 0;
   padding: 0;
     
  
}

table, tr, td {
	text-align: center;
  border: 2px solid aquamarine;
 
}

tr, td{
padding: 0.5em;
}

table img{
margin: 0;
padding: 0.2em;
border-radius: 10%;
width: 100%;
}
tr:nth-child(even) {background-color: rgba(250,250,250,0.5);}
tr:nth-child(odd) {background-color: rgba(200,100,130,0.5);}

.item{
    width: 30%;
    }
.desc{
    width: 70%;
}


.otros{
display: none;}

.nav a{
    float: left;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5em;
}


@media screen and (max-width: 750px){
    img{
        width: 25%
    }
    
}



